<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h5><strong><i class="fa fa-circle-o-notch fa-spin"></i>
          All Activities</strong></h5>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
              <% @activities.each do |activity| %>
                <tr><%= render_activity activity %></tr>
              <% end %>
            </table>

            <%= will_paginate @activities %>
        </div>
    </div>
  </div>
</div>
